/* 모바일용 CSS */
/* 기본 CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#member_login {
  width: 100%;
  height: 1000px;
  background-color: #2e3693bb;
  position: relative;
}
#member_login section {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 30px 30px 40px 30px;
  background-color: white;
}
#member_login section #tab_menu {
  width: 100%;
  margin: 0 auto;
}
#member_login.login h2 {
  text-align: center;
  padding: 30px 0 30px;
}
input[type="radio" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
  padding: initial;
  border: initial;
}
#member_login section #tab_menu input[type="radio"] {
  display: none;
}
#member_login section #tab_menu input:checked + label {
  color: black;
  border: 1px solid #ddd;
  background-color: #eee;
}
#member_login section #tab_menu label {
  display: inline-block;
  margin: 0 0;
  padding: 10px 10px 10px 15px;
  font-size: 16px;
  text-align: center;
  color: #aaa;
  border: 1px solid transparent;
}
.tabcontent {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}
.tabcontent span.head {
  width: 100%;
  margin: 5px 0 30px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 250;
  display: block;
}
.tabcontent ul {
  width: 100%;
  margin-bottom: 10px;
  list-style: none;
}
.tabcontent ul li {
  font-size: 12px;
  color: #646464;
  text-align: center;
}
.login_id {
  width: 100%;
  padding: 15px;
  color: #646464;
  border: 0;
  border-bottom: 2px solid #d8d8d8;
  font-size: 16px;
}
.login_pw {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 15px;
  color: #646464;
  border: 0;
  border-bottom: 2px solid #d8d8d8;
  font-size: 16px;
}
.loginSubmit {
  width: 100%;
  margin-top: 25px;
  background: #0068b7;
  color: #ffffff;
  border: 0;
  text-align: center;
  line-height: 59px;
  font-size: 20px;
  font-weight: bold;
  cursor: hand;
}
.notice_login {
  padding-top: 15px;
  padding-bottom: 10px;
  display: block;
}
a {
  font-size: 13px;
  text-decoration: none;
}
.notice_login li {
  margin-bottom: 5px;
}
#certificate .tabcontent span.head {
  width: 100%;
  margin: 5px 0 30px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 250;
  display: block;
}
#certificate .notice_login li {
  text-align: left;
  margin-bottom: 10px;
}
#certificate .notice_login .reset {
  color: red;
  font-weight: bold;
  font-size: 14px;
}
span.login3 {
  width: 100%;
  margin-bottom: 10px;
  background: #636363;
  color: #ffffff;
  line-height: 51px;
  font-size: 14px;
  float: left;
  text-align: center;
}
#tab1:checked ~ #normal, #tab2:checked ~ #certificate, #tab3:checked ~ #i-pin, #tab4:checked ~ #naver {
  display: block;
}
footer #footer {
  width: 100%;
  height: 100px;
  background-color: #d8d8d8;
  border-top: 1px solid #9e9e9e;
}
footer #footer > div {
  text-align: center;
  padding: 0 15px;
  margin-bottom: 10px;
}
footer #footer > div a {
  font-size: 13px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
footer #footer p {
  font-size: 12px;
  padding: 0 5px;
  line-height: 130%;
  color: #575757;
  text-align: center;
}
footer #footer p.tel {
  font-size: 15px;
  padding: 5px 0;
}

/* 태블릿용 CSS */
@media all and (min-width:768px) {
/* 기본 CSS */
  #member_login.login h2 {
    padding: 30px 0 30px;
  }
  #member_login section #tab_menu label {
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 600;
  }
  #member_login section {
    width: 80%;
    padding: 50px 50px 40px 50px;
  }
  .login_id {
    font-size: 18px;
  }
  .login_pw {
    font-size: 18px;
  }
  .tabcontent ul li {
    font-size: 14px;
  }
  span.login3 {
    width: 100%;
    margin-bottom: 10px;
    background: #636363;
    color: #ffffff;
    line-height: 51px;
    font-size: 14px;
    float: left;
    text-align: center;
  }
}

/* PC용 CSS */
@media all and (min-width:960px) {
/* 기본 CSS */
  #member_login section #tab_menu label {
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 600;
  }
  #member_login section {
    width: 60%;
    padding: 50px 50px 40px 50px;
  }
  .login_id {
    font-size: 20px;
  }
  .login_pw {
    font-size: 20px;
  }
  span.login3 {
    font-size: 18px;
  }
}